body{
    background: black;
    min-height: 100vh;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
span{
    background-image: url("https://cdn0.iconfinder.com/data/icons/Handycons2/128/heart.png");
    width: 100px;
    height: 100px;
    position: absolute; 
    background-size: cover;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: animate 5s linear;
    
}
@keyframes animate {
    0% {
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}
